
IDD_MONITOR_DIALOG DIALOGEX 0, 0, 400, 300
STYLE DS_SETFONT | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "屏幕监视"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "锁机",IDC_BTN_LOCK,7,279,50,14
    PUSHBUTTON      "解锁",IDC_BTN_UNLOCK,61,279,50,14
    CONTROL         "允许鼠标控制",IDC_CHECK_MOUSE_CONTROL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,115,281,65,10
END
